.App {
  text-align: center;
}

.App-header {
  background-color: #ebeff0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  color: #131313;
  padding-left:8rem;
  padding-right:8rem;
  text-align: center;
  font-family: Open sans, Helvetica, sans-serif;
}

a {
  color: #454975;
  text-decoration: none;
}

a:hover {
  color: #282a49;
  text-decoration: underline;
}

.myBtn {
  background-color: #454975;
  color: white;
}

.myBtn:hover {
  background-color: white;
  color: #454975;
  border: 2px solid #454975;
}

h2 {
  font-weight:600;
}

input {
  margin-right: 1rem;
  margin-left: 1rem;
}

.ethAddress {
  color: #454975;
  font-size: 1.1rem;
}

#ethLogo{
  max-width:400px;
}

.btn-infor {
  color: #454975;
}

#message{
  color: #454975;
  font-weight: 900;
  font-size: 1.8rem;
}

#errorMessage{
  color: rgba(255, 0, 0, 0.8);
}

#rules {
  font-size: 1.2rem;
}
